.header{
    text-align: center;
    margin-top: 150px;
    background-color: #bf004a;
    color: black;
    border-style: solid;
    border-color: #1a1a1a;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
    border-bottom: none;
}
.header p{
    font-family: "Courier";
}
 h{
    font-size: 300%;
}
body{
    background-image: url(../img/bg-body.jpg);
}
div p{
    padding-left:150px;
    padding-right:150px;     
}
.SKILLS{
    text-align: center;
    color: black;
    background-color: white;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
    border-style: solid;
    border-bottom: none;
}
.skill{
    text-align: center;
    display: grid;
}
.skill .prog{
    display: grid;
    margin: auto;
}
.work{
       text-align: center;
    border-style: solid;
    border-color: #1a1a1a;
    color: black;
    background-color: white;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
    border-bottom: none;
}
.work li{
    display: block;
    margin-left: -45px;
    margin-top: 50px;
}
.Education{
    text-align: center;
    border-style: solid;
    border-color: #1a1a1a;
    color: black;
    background-color: white;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
}
.Education li{
    display: block;
    margin-left: -45px;
    margin-top: 50px;
}
.print{
    position: absolute;top: 0;right: 0;
}
header{
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    background-color: black;
    color:white;
}

.astric{
    color:red;
}
#submit{
   background-color: #101055;
    color:white;
    border-radius: 8px;
    width: 80px;
    margin-left: 50px;
    box-shadow: none;
    height: 30px;
}
footer{
 
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    background-color: black;
    color:white;
}

#contact{
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 50px;

}
textarea{
    resize: none;
}

.direct{
    text-decoration: none;
    text-align: center;
    background-color: white;
    border-color: black;
    color: white;
}
#cv a{
    color: white;
     text-decoration: none;
}
#cv{
    border-radius: 8px;
    width: 80px;
    margin-left: 40px;
    margin-top: 50px;
    box-shadow: none;
    height: 30px;
    background-color: #101055;
}
.direct{
    border-radius: 8px;
    width: 80px;
    margin-top: 50px;
    box-shadow: none;
    height: 30px;
}
.direct a{
    color: black;
     text-decoration: none;
}
.direct2{
    border-radius: 8px;
    width: 80px;
    margin-top: 50px;
    box-shadow: none;
    height: 30px;
}
.direct2 a{
    color: black;
     text-decoration: none;
}
table{
    display: grid;
    border: none;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 450px;
}
.message{
 position: relative; right: 10px;
}
.message1{
    position: relative; bottom:60px; right:15px;
}
.url{
    position: relative;left: 12px;
    height: 30px;

}
.url1{
    position: relative;left: 10px;
}
.id{
    position: relative;left: 30px;
    height: 30px;

}
.id1{
    position: relative;left: 25px;
}
.email{
    position: relative;left: 8px;
    height: 30px;
  
}
.email1{
    position: relative;left: 5px;
}
.subject1{
    position: relative;right: 5px;
}
.subject{
    height: 30px;
}