.header{
    text-align: center;
    margin-top: 150px;
    background-color: #bf004a;
    color: black;
    border-style: solid;
    border-color: #1a1a1a;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
    border-bottom: none;
}
.header p{
    font-family: "Courier";
}
 h{
    font-size: 300%;
}
body{
    background-image: url(../img/bg-body.jpg);
}
div p{
    padding-left:150px;
    padding-right:150px;     
}
.SKILLS{
    text-align: center;
    color: black;
    background-color: white;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
    border-style: solid;
    border-bottom: none;
}
.skill{
    text-align: center;
    display: grid;
}
.skill #prog{
    display: grid;
    margin: auto;
}
.work{
       text-align: center;
    border-style: solid;
    border-color: #1a1a1a;
    color: black;
    background-color: white;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
    border-bottom: none;
}
.work li{
    display: block;
    margin-left: -45px;
    margin-top: 50px;
}
.Education{
    text-align: center;
    border-style: solid;
    border-color: #1a1a1a;
    color: black;
    background-color: white;
    background-position: center;
    margin-left:250px;
    margin-right:250px;
    padding-top: 100px;
    padding-bottom:100px;
}
.Education li{
    display: block;
    margin-left: -45px;
    margin-top: 50px;
}
.print{
    position: absolute;top: 0;right: 0;
}
